<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{{ env('SITE_TITLE') }}</title>

        {% block css %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
            <link rel="stylesheet" href="/css/app.css">
        {% endblock %}
    </head>
    <body>
    {% include 'includes/header.twig' %}
    <div class="container">
        {{ flash().display() | raw }}

        <div class="card">
            {% if block("header") is defined and block("header") | trim %}
                <div class="card-header">
                    {{ block('header') }}
                </div>
            {% endif %}
            {% if block("errors") is defined and block("errors") | trim %}
                <div class="card-body pb-0">
                    <div class="alert alert-danger mb-0">{{ block('errors') }}</div>
                </div>
            {% endif %}
            {% if block("content") is defined and block("content") | trim %}
                <div class="card-body">
                    {{ block('content') }}
                </div>
            {% endif %}
            {% if block("footer") is defined and block("footer") | trim %}
                <div class="card-footer">
                    {{ block('footer') }}
                </div>
            {% endif %}
        </div>
    </div>
    {% block js %}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% endblock %}
    </body>
</html>