<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">TODO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
{#          {% if auth().check() %}#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="{{ url('frontend.index') }}">Список задач</a>#}
{#                </li>#}
{#          {% endif %}#}
            </ul>

        {% if auth().check() %}
            <span class="btn btn-secondary btn-sm">{{ auth().getUsername() }}</span>
            <form action="{{ url('auth.logout') }}" method="post" class="form-inline my-2 my-lg-0">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button class="btn btn-outline-danger btn-sm ml-2" onclick="if(!confirm('Подтвердитее свое действие')) { return false; }"><i class="fas fa-power-off"></i></button>
            </form>
        {% else %}
            <form action="{{ url('auth.login') }}" class="form-inline my-2 my-lg-0" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input class="form-control form-control-sm mr-sm-2" name="username" type="text" placeholder="Логин">
                <input class="form-control form-control-sm mr-sm-2" name="password" type="password" placeholder="Пароль">
                <button class="btn btn-secondary btn-sm my-2 my-sm-0" type="submit">Вход</button>
            </form>
        {% endif %}
    </div>
</nav>