<ul class="nav nav-tabs card-header-tabs">
    <li class="nav-item mr-3">
        <a class="nav-link {{ tab_action == 'index' ? 'active' : '' }}" href="{{ url('frontend.todo.index') }}">Список задач</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ tab_action == 'create' ? 'active' : '' }}" href="{{ url('frontend.todo.create') }}">Создать новую задачу</a>
    </li>
    {% if tab_action == 'show' %}
        <li class="nav-item">
            <a class="nav-link active" href="{{ url('frontend.todo.index') }}">Просмотр задачи</a>
        </li>
    {% endif %}
    {% if tab_action == 'edit' %}
        <li class="nav-item">
            <a class="nav-link active" href="{{ url('frontend.todo.index') }}">Редактирование задачи</a>
        </li>
    {% endif %}
</ul>