{% extends 'layouts/frontend.twig' %}

{% block errors %}
    {% if errors.count %}
        {% for error in errors.all %}
            <div>{{ error }}</div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block header %}
    {% include 'frontend/todo/_header.twig' with { 'tab_action': tab_action } %}
{% endblock %}

{% block content %}
    <form method="post" autocomplete="off" action="{{ url('frontend.todo.store') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label>Email адрес</label>
                    <input type="text" name="email" class="form-control">
{#                    <input type="email" name="email" class="form-control">#}
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label>Имя пользователя</label>
                    <input type="text" name="username" class="form-control">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Текст задачи</label>
            <textarea name="body" rows="5" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Создать</button>
    </form>
{% endblock %}