{% extends 'layouts/frontend.twig' %}

{% block errors %}
    {% if errors.count %}
        {% for error in errors.all %}
            <div>{{ error }}</div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block header %}
    {% include 'frontend/todo/_header.twig' with { 'tab_action': tab_action } %}
{% endblock %}

{% block content %}
    <form method="post" autocomplete="off" action="{{ url('frontend.todo.update', {'id': todo.id}) }}" id="edit_form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label>Email адрес</label>
                    <input type="text" name="email" class="form-control" value="{{ todo.email }}">
{#                    <input type="email" name="email" class="form-control">#}
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label>Имя пользователя</label>
                    <input type="text" name="username" class="form-control" value="{{ todo.username }}">
                </div>
            </div>
            {% if auth().check() %}
                <div class="col-3">
                    <div class="form-group">
                        <label>Стаатус задачи</label>
                        <select class="form-control" name="status">
                            {% for key, status in statuses %}
                                <option value="{{ key }}" {{ todo.status == key ? 'selected' : '' }}>{{ status }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label>Текст задачи</label>
            <textarea name="body" rows="5" class="form-control">{{ todo.body }}</textarea>
        </div>
    </form>
{% endblock %}

{% block footer %}
    <button type="submit" class="btn btn-primary btn-sm" onclick="$('#edit_form').submit();">Сохранить</button>
    {% if auth().check() %}
        <form action="{{ url('frontend.todo.delete', {'id': todo.id}) }}" method="post" class="float-right">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button class="btn btn-outline-danger btn-sm" onclick="if(!confirm('Подтвердитее свое действие')) { return false; }">Удалить</button>
        </form>
    {% endif %}
{% endblock %}