{% extends 'layouts/frontend.twig' %}

{% block errors %}
    {% if errors.count %}
        {% for error in errors.all %}
            <div>{{ error }}</div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block header %}
    {% include 'frontend/todo/_header.twig' %}
{% endblock %}

{% block content %}
    {% if paginator.total %}
        <table class="table table-bordered table-hover mb-0">
            <thead class="thead-light">
            <tr>
                <th class="text-center" style="width: 25%;">
                    <a href="{{ url('frontend.todo.sort', {'field': 'username'}, {'filter': filter}) }}">Имя пользоввателя</a>
                    {% if filter.order_by == 'username' %}
                        &nbsp;
                        <i class="fas fa-angle-{{ filter.order == 'asc' ? 'up' : 'down' }}"></i>
                    {% endif %}
                </th>
                <th class="text-center" style="width: 25%;">
                    <a href="{{ url('frontend.todo.sort', {'field': 'email'}, {'filter': filter}) }}">Email</a>
                    {% if filter.order_by == 'email' %}
                        &nbsp;
                        <i class="fas fa-angle-{{ filter.order == 'asc' ? 'up' : 'down' }}"></i>
                    {% endif %}
                </th>
                <th class="text-center" style="width: 25%;">
                    <a href="{{ url('frontend.todo.sort', {'field': 'status'}, {'filter': filter}) }}">Статус</a>
                    {% if filter.order_by == 'status' %}
                        &nbsp;
                        <i class="fas fa-angle-{{ filter.order == 'asc' ? 'up' : 'down' }}"></i>
                    {% endif %}
                </th>
                <th class="text-center">
                    Действия
                </th>
            </tr>
            </thead>
            <tbody>
                {% for item in paginator %}
                    <tr>
                        <td class="text-center align-middle">
                            {{ item.username }}
                        </td>
                        <td class="text-center align-middle">
                            {{ item.email }}
                        </td>
                        <td class="text-center align-middle">
                            {{ item.getStatus() }}
                            {% if item.is_modified_by_admin %}
                                <div>
                                    <small class="text-primary">отредактировано администратором</small>
                                </div>
                            {% endif %}
                        </td>
                        <td class="text-center align-middle">
                            <a href="{{ url('frontend.todo.show', {'id': item.id}) }}" class="btn btn-sm btn-primary">Просмотр</a>
                            {% if auth().check() %}
                                <a href="{{ url('frontend.todo.edit', {'id': item.id})  }}" class="btn btn-sm btn-outline-primary">Редактировать</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-warning mb-0">Нет созданных задач</div>
    {% endif %}
{% endblock %}

{% block footer %}
    {% set pagination = pagination(paginator) %}
    {% if pagination %}
        {{ pagination | raw }}
    {% endif %}
{% endblock %}