{% extends 'layouts/frontend.twig' %}

{% block header %}
    {% include 'frontend/todo/_header.twig' with { 'tab_action': tab_action } %}
{% endblock %}

{% block content %}
    <table class="table">
        <tr>
            <th style="width: 20%;">Email</th>
            <td>{{ todo.email }}</td>
        </tr>
        <tr>
            <th style="width: 20%;">Пользователь</th>
            <td>{{ todo.username }}</td>
        </tr>
        <tr>
            <th style="width: 20%;">Статус</th>
            <td>
                {{ todo.getStatus() }}

                {% if item.is_modified_by_admin %}
                    <div>
                        <small class="text-primary">отредактировано администратором</small>
                    </div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th style="width: 20%;">Задача</th>
            <td>{{ todo.body }}</td>
        </tr>
    </table>
{% endblock %}

{% block footer %}
    {% if auth().check() %}
        <a href="{{ url('frontend.todo.edit', {'id': todo.id}) }}" class="btn btn-primary btn-sm">Редактировать</a>
        <form action="{{ url('frontend.todo.delete', {'id': todo.id}) }}" method="post" class="float-right">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button class="btn btn-outline-danger btn-sm" onclick="if(!confirm('Подтвердитее свое действие')) { return false; }">Удалить</button>
        </form>
    {% endif %}
{% endblock %}
