<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{{ env('SITE_TITLE') }}</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <style>
            html,
            body {
                height: 100%;
            }

            body {
                display: -ms-flexbox;
                display: flex;
                -ms-flex-align: center;
                align-items: center;
                padding-bottom: 40px;
                background-color: #f5f5f5;
            }

            .form-signin {
                width: 100%;
                max-width: 400px;
                padding: 15px;
                margin: auto;
            }
            .form-signin .form-control {
                position: relative;
                box-sizing: border-box;
                height: auto;
                padding: 10px;
                font-size: 16px;
            }
            .form-signin .form-control:focus {
                z-index: 2;
            }
            .form-signin input[type="password"] {
                margin-bottom: 10px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        </style>
    </head>
    <body class="text-center">
        <form class="form-signin" action="{{ url('auth.login') }}" method="post" autocomplete="off">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

            <div class="card">
                <div class="card-body">
                    <h1 class="h3 mb-3 font-weight-normal text-center">Авторизация</h1>

                    {% if errors.count %}
                        <div class="alert alert-danger">
                            {% for error in errors.all %}
                                <div><small>{{ error }}</small></div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="form-group">
                        <input type="text" name="username" class="form-control" placeholder="Имя пользователя">
                    </div>

                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Пароль">
                    </div>

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="remember"> запомнить меня
                        </label>
                    </div>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>

                    <div class="mt-3">
                        <a href="{{ url('frontend.todo.index') }}"><small>На главную</small></a>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>